!!! 5
html(lang="en")
  head
    title=title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // css
    link(rel="stylesheet", media="screen", href="//getbootstrap.com/dist/css/bootstrap.css")
      
  body
    h1 Url:
    h2=url
    h1 IP:
    h2=ip
    h1 Username:
    h2=username
    h1 Password:
    h2=password


  // js
  script(src="//code.jquery.com/jquery.js", type='text/javascript')
  script(src="//getbootstrap.com/dist/js/bootstrap.js", type="text/javascript")